# 1. Hypothesis Generation

Generating a hypothesis is a major step in the process of analyzing data. This involves understanding the problem and formulating a meaningful hypothesis about what could potentially have a good impact on the outcome. This is done BEFORE looking at the data, and we end up creating a laundry list of the different analyses which we can potentially perform if data is available.

#### Possible hypotheses
Which applicants are more likely to get a loan

1. Applicants having a credit history 
2. Applicants with higher applicant and co-applicant incomes
3. Applicants with higher education level
4. Properties in urban areas with high growth perspectives

Do more brainstorming and create some hypotheses of your own. Remember that the data might not be sufficient to test all of these, but forming these enables a better understanding of the problem.

### Let's look at the data we have and do some research

In [1]:
import pandas as pd

In [16]:
df = pd.read_csv(r'C:\Users\k_mah\Documents\miniproject4-master\data\data.csv')

In [18]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

I think the offered hypothses are all good starting points - I think obviously a high income is going to be a huge factor.  
Personally, if I were the underwriter, I think a high income for each of 2 joint applicants would be important since if one income were impacted,  
it might be the case that they are still able to service the loan.  
I think a high amount of dependants and other demands on income could be a factor.  
And the PROPORTION of income spent on the loan and other demands would also be a factor.  
I know that underwriters do put some weight on education, but honestly, in this economy that's less a factor. And school means education loans.  
  
NOT IN DATA  
I would want to know that the applicant has a steady work history.  
Do they have other loans?   
What proportion of their income do they use on other expenses?  
Do they intend to inhabit this property? How many properties do they own and for what purpose.

The Bank of America says:  
Use - we can ignore this, these are all property laons  
Amount - so how much you're asking for compared to your assets  
Credit Score  
Ability to repay - again, good income would help  
https://www.bankofamerica.com/smallbusiness/resources/post/factors-that-impact-loan-decisions-and-how-to-increase-your-approval-odds/  
  
Forbes says:  
Credit Score - we have this  
Debt-to-income ratio - we can calculate this limited to the one loan  
Income - we have this  
Collateral - we don't know this  
Origination fee - we don't know this  
https://www.forbes.com/advisor/personal-loans/personal-loan-requirements/

Hypothesis 1:  
H0 Credit score has no impact  
H1 Credit Score will impact loan approval significantly  
  
Hypothesis 2:  
H0 Income will have no impact on loan approval  
H1 Income will have a signifcant impact on loan approval  
  
Hypothesis 3:  
H0 Income to loan ratio will have no impact on loan approval  
H1 Income to loan ration will have a signifcant impact on loan approval  

Other factors that I think we should explore:  
Education  
Dependants  
Rural vs. Urban (just because you mentioned it)  
  
My fear is that we're really going to find that gender has a huge impact like the algorithm designed to evaluate resumes